<div style="text-align: center">
  <img
    src="../assets/logo.svg"
    alt="Todo logo"
    width="100"
    height="100"
    class="logo"
  />
  <h1 class="app-title">Todo App</h1>
</div>
<div class="container">
  Add a todo..
  <br />
  <input
    type="text"
    class="input-text"
    placeholder="Type a todo" 
    [(ngModel)]="todoVal" 
    (keyup.enter)="addTodo()"
  />
  <button class="add-btn" (click)="addTodo()">Add Todo</button>
  <div class="list">
    <ul >
      <li *ngFor="let item of todoList">
        <input type="checkbox" name="isDone" [(ngModel)]="item.isDone"/>
        {{item.value}}
        <button class="btn" (click)="deleteTodo(item.id)">Delete</button>
      </li>
    </ul>
  </div>
</div>
